:root {
    --font-primary: sans-serif;
    --font-headings: 'Roboto slab', serif;
    
    --spacing-gutter-mediun: 3rem;
    --spacing-gutter-large: 4rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    
}

body{
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: silver;
    color: darkslategrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

.container {
    max-width: 144rem;
    margin: 0 auto;    
    padding: var(--spacing-gutter-large);       
    
}

.main-header-container {
    background: black;
}

.main-logo {
    font-size: 4rem;
    color: white;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin-right: 2rem;

}
.search-form {
    border: .2rem solid black;
    max-width: 64rem;
    margin: 0 auto;
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}
.search-button {
    position: absolute;
    top: 0;
    right: 0;
}
.search-button:focus {
    outline: 1px solid steelblue;
    background: rgba(0,0,0, .09);
    
}
.search-input {
    width: 100%;
    padding-right: 3rem;
}
.search-form:focus-within {
    border-color: steelblue;
    background: white;
}
.search-form:focus-within .search-button {
    color: steelblue;
}


.main-content {
    padding-top: 0;
    
}
.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}


.part {
    background: white;
    box-shadow: -5px 5px 10px rgba(0,0,0, .2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: .5rem;
    overflow: hidden;

}
.part img {
    max-width: 100%;
}
.part-list-item {
    max-width: 64rem;
    height: fit-content;    
}
.part-list-item:hover {
    transform: scale(1.02);
    box-shadow: -8px 8px 18px rgba(0,0,0, .25);
}
.part-title-container {
    padding: var(--spacing-gutter-mediun);
    padding-bottom: 2rem;
}  
.part-title-container a {
    text-decoration: none;
    color: darkslategray;
}  
.part-author {
    padding: 0 var(--spacing-gutter-mediun);
}

.part-content {
    padding: var(--spacing-gutter-mediun);
    padding-top: 2rem;
}
.part-author-item {
    color: gray;
    margin-right: 1rem;
}
.part-author a {
    color: deepskyblue;
    transition: all 300ms ease-in-out;
    text-decoration: none;
}
.part-author a:hover {
    color: black;
}
.part-meta-container {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-gutter-mediun);
    background: lightgrey;
}
.part-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}
.part-meta-title {
    font-size: 1.6rem;
}
.part-footer a{
    background: black;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem var(--spacing-gutter-mediun)       
}
.part-footer a:hover {
    filter: brightness(2);
}

 .part-list-item {
    max-width: 84rem;    
    margin: 0 auto;
}
.part-list-item:hover {
    transform: scale(1);
    box-shadow: -5px 5px 5px rgba(0,0,0, .25);
}

.preparation-steps {
    padding: var(--spacing-gutter-mediun); 
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    color: bisque;
    padding: var(--spacing-gutter-large);
}
.main-footer a {
    color: white;
    text-decoration: none;
    transition: all 300ms all ease-in-out;
}
.main-footer a:hobver {
    filter: brightness(.8);
}
